[commit]
  gpgsign = true
[credential]
  helper = osxkeychain
[help]
  autocorrect = -1
[push]
  default = current
[remote "origin"]
  prune = true
[user]
  email = gibatronic@gmail.com
  name = Gibran Malheiros
  signingkey = 047F462D
